Library/*
Temp/*
Build/*
*.apk
.vs/*
*.sln
*.csproj
obj/*
.idea/*
*JetBrains*
*DotSettings.user
.gradle/*
*.aab
Logs/*
Assets/Plugins/Sirenix/Assemblies/AOT
Assets/BuildReports*
Recordings/*
UserSettings/*
*.unitypackage
