*.html linguist-detectable=false
*.htm inguist-detectable=false
*.asset inguist-detectable=false
*.meta inguist-detectable=false
*.sln eol=crlf
*.csproj eol=crlf
*.asset eol=lf
*.psd filter=lfs diff=lfs merge=lfs -text
